<div id="<%= dom_id product2 %>">
  <p>
    <strong>Name:</strong>
    <%= product2.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product2.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product2.price %>
  </p>

</div>
